# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime stuffs
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# /db/
/db/GeoIPCity.dat